.git
.DS_Store
node_modules
**/node_modules
target
**/target
.build
**/.build
DerivedData
.derivedData
**/DerivedData
**/.derivedData
.arroba
**/.arroba
*.log
*.tmp
codex-main
opencode-dev
happy-main
worktree-*
